In [1]:
import torch
import pandas as pd

from torch_geometric.data import Data
from torch_geometric.loader import DataLoader

import numpy as np
import torch.nn.functional as F
import matplotlib.pyplot as plt

# Data loading and preparation

In [78]:
edges = pd.read_csv("../data/interim/edges.csv")

/tmp/ipykernel_25721/4050122502.py:1: DtypeWarning: Columns (5,6,7) have mixed types. Specify dtype option on import or set low_memory=False.
  edges = pd.read_csv("../data/interim/edges.csv")

In [79]:
edges

,Unnamed: 0,node1,node2,weight,type,celltype_major,celltype_minor,clone
0,0,AGTAAGCTCCACTAAT-1,AACACCTACTATCGAA-1,0.465604,sc2vis,CAFs,CAFs MSC iCAF.like,diploid
1,1,ATCCATCCAATCGTGA-1,AACACCTACTATCGAA-1,0.707957,sc2vis,Myeloid,Macrophage,diploid
2,2,CGTTATGTCTGTCAAT-1,AACACCTACTATCGAA-1,0.506494,sc2vis,Normal Epithelial,Mature Luminal,diploid
3,3,GACTTACGTTTCTAAG-1,AACACCTACTATCGAA-1,0.417010,sc2vis,CAFs,CAFs MSC iCAF.like,diploid
4,4,GCTATTAGTTAGGCGG-1,AACACCTACTATCGAA-1,0.408076,sc2vis,CAFs,CAFs MSC iCAF.like,diploid
...,...,...,...,...,...,...,...,...
107691,108181,TGTTGGCCTACACGTG-1,AGCCAGCGTTACAGTC-1,0.500000,vis2grid,NaN,NaN,NaN
107692,108182,TGTTGGCCTACACGTG-1,ATACTATCCGAACATA-1,0.500000,vis2grid,NaN,NaN,NaN
107693,108183,TGTTGGCCTACACGTG-1,CGTAAGGATACGGCAC-1,0.500000,vis2grid,NaN,NaN,NaN
107694,108184,TGTTGGCCTACACGTG-1,CTTATTGAGTTCTGTA-1,0.500000,vis2grid,NaN,NaN,NaN
107695,108185,TGTTGGCCTACACGTG-1,GTCGAGTGATTACTGT-1,0.500000,vis2grid,NaN,NaN,NaN

In [80]:
edges[edges["type"] == "sc2vis"][["node1","node2"]].shape[0] == edges[edges["type"] == "sc2vis"][["node1","node2"]].drop_duplicates().shape[0]

True

In [81]:
edges[edges["type"] == "vis2grid"][["node1","node2"]].shape[0] == edges[edges["type"] == "vis2grid"][["node1","node2"]].drop_duplicates().shape[0]

True

In [82]:
edges[["node1","node2"]].shape[0] == edges[["node1","node2"]].drop_duplicates().shape[0]

True

In [83]:
overcl = pd.read_csv("../data/interim/clones_over.csv")

In [84]:
overcl

               cell.names   leiden
0      CGCAAGGGTTAGTGAG-1       16
1      CAAGACTAGCTTGAGG-1       16
2      GCCAATACATTGCCTG-1       10
3      CTTCAATAGATGATTG-1       10
4      GATGCAAGTATTGCGT-1       10
...                   ...      ...
10716  TCTAACCCAGGTATTG-1        2
10717  TCAACTAGTTAGCGCC-1  diploid
10718  CAGGTCAAGACCATTT-1        2
10719  TGGTGCGCACCATCCA-1        2
10720  ACAACGGTCTAGTTAC-1  diploid

[10721 rows x 2 columns]

In [85]:
overcl.columns = ["node1","clone"]

In [86]:
overcl.clone.unique()

array(['16', '10', '0', 'diploid', '12', '8', '13', '14', '1', '7', '15',
       '4', '6', '9', '5', '11', '2', '3'], dtype=object)

In [87]:
cell_type = pd.read_excel("../data/raw/Requested_Cell_Barcode_Type_Matrices.xlsx", sheet_name="scFFPE-Seq")

In [88]:
cell_type.columns = ["node1","cell_type"]

In [89]:
overcl = cell_type.merge(overcl, on = "node1", how = "left")

In [90]:
overcl

                    node1              cell_type clone
0      AAACAAGCAAACGGGA-1                Stromal   NaN
1      AAACAAGCAAATAGGA-1          Macrophages 1    11
2      AAACAAGCAACAAGTT-1      Perivascular-Like   NaN
3      AAACAAGCAACCATTC-1          Myoepi ACTA2+     2
4      AAACAAGCAACTAAAC-1          Myoepi ACTA2+    10
...                   ...                    ...   ...
27467  TTTGTGAGTGGTTACT-1                 DCIS 1    11
27468  TTTGTGAGTGTTCCAG-1                Stromal   NaN
27469  TTTGTGAGTTACTTCT-1  Prolif Invasive Tumor     1
27470  TTTGTGAGTTGTCATA-1                 DCIS 2   NaN
27471  TTTGTGAGTTTGGCCA-1         Invasive Tumor   NaN

[27472 rows x 3 columns]

In [91]:
edges = edges.drop(columns = ["clone","celltype_major","celltype_minor"])

In [92]:
overcl = edges[edges["type"] == "sc2vis"].merge(overcl,left_on = "node1",right_on ="node1",how = "left")

In [93]:
overcl.clone = overcl.clone.fillna("diploid")

In [94]:
overcl = overcl[["node1","clone","cell_type"]].drop_duplicates()

In [95]:
overcl.cell_type.fillna("unknown", inplace = True)

In [96]:
edges.merge(overcl[["clone","node1", "cell_type"]],left_on = "node1",right_on ="node1",how = "left", validate = 'm:1')

,Unnamed: 0,node1,node2,weight,type,clone,cell_type
0,0,AGTAAGCTCCACTAAT-1,AACACCTACTATCGAA-1,0.465604,sc2vis,diploid,Stromal
1,1,ATCCATCCAATCGTGA-1,AACACCTACTATCGAA-1,0.707957,sc2vis,diploid,Stromal
2,2,CGTTATGTCTGTCAAT-1,AACACCTACTATCGAA-1,0.506494,sc2vis,diploid,DCIS 2
3,3,GACTTACGTTTCTAAG-1,AACACCTACTATCGAA-1,0.417010,sc2vis,diploid,Stromal
4,4,GCTATTAGTTAGGCGG-1,AACACCTACTATCGAA-1,0.408076,sc2vis,diploid,Stromal
...,...,...,...,...,...,...,...
107691,108181,TGTTGGCCTACACGTG-1,AGCCAGCGTTACAGTC-1,0.500000,vis2grid,NaN,NaN
107692,108182,TGTTGGCCTACACGTG-1,ATACTATCCGAACATA-1,0.500000,vis2grid,NaN,NaN
107693,108183,TGTTGGCCTACACGTG-1,CGTAAGGATACGGCAC-1,0.500000,vis2grid,NaN,NaN
107694,108184,TGTTGGCCTACACGTG-1,CTTATTGAGTTCTGTA-1,0.500000,vis2grid,NaN,NaN
107695,108185,TGTTGGCCTACACGTG-1,GTCGAGTGATTACTGT-1,0.500000,vis2grid,NaN,NaN

In [97]:
edges= edges.merge(overcl[["clone","node1","cell_type"]],left_on = "node1",right_on ="node1",how = "left")

In [98]:
edges[edges["type"] == "sc2vis"][["node1","node2"]].shape[0] == edges[edges["type"] == "sc2vis"][["node1","node2"]].drop_duplicates().shape[0]

True

In [99]:
edges[edges["type"] == "vis2grid"][["node1","node2"]].shape[0] == edges[edges["type"] == "vis2grid"][["node1","node2"]].drop_duplicates().shape[0]

True

In [100]:
edges[["node1","node2"]].shape[0] == edges[["node1","node2"]].drop_duplicates().shape[0]

True

In [101]:
emb_vis = pd.read_csv("../data/interim/embedding_visium_scvi.csv", index_col = 0)
emb_rna = pd.read_csv("../data/interim/embedding_rna2vis_scvi.csv", index_col = 0)

In [102]:
all_nodes_graph = set(edges.node1.to_list() + edges.node2.to_list())
all_nodes_emb = set(emb_vis.index).union(set(emb_rna.index))
all_nodes = list(all_nodes_graph.intersection(all_nodes_emb))
node_encoder = {all_nodes[i]:i for i in range(len(all_nodes))}
emb_vis = emb_vis.loc[emb_vis.index.isin(all_nodes)]
emb_rna = emb_rna.loc[emb_rna.index.isin(all_nodes)]

In [103]:
edges = edges[edges.node1.isin(all_nodes)]

In [104]:
edges = edges[edges.node2.isin(all_nodes)]

In [105]:
edges.node1 = edges.node1.map(node_encoder)

In [106]:
edges.node2 = edges.node2.map(node_encoder)

In [107]:
edges

        Unnamed: 0  node1  node2    weight      type    clone cell_type
0                0   7867    540  0.465604    sc2vis  diploid   Stromal
1                1   8247    540  0.707957    sc2vis  diploid   Stromal
2                2   3187    540  0.506494    sc2vis  diploid    DCIS 2
3                3   1644    540  0.417010    sc2vis  diploid   Stromal
4                4   4566    540  0.408076    sc2vis  diploid   Stromal
...            ...    ...    ...       ...       ...      ...       ...
107691      108181   4469   4650  0.500000  vis2grid      NaN       NaN
107692      108182   4469   8937  0.500000  vis2grid      NaN       NaN
107693      108183   4469   1826  0.500000  vis2grid      NaN       NaN
107694      108184   4469   7934  0.500000  vis2grid      NaN       NaN
107695      108185   4469   5969  0.500000  vis2grid      NaN       NaN

[107696 rows x 7 columns]

In [108]:
emb_vis = emb_vis.rename(index = node_encoder)
emb_rna = emb_rna.rename(index = node_encoder)

In [109]:
edge_index = torch.tensor([edges.node1,
                           edges.node2], dtype=torch.long)

In [110]:
edge_index

tensor([[7867, 8247, 3187,  ..., 4469, 4469, 4469],
        [ 540,  540,  540,  ..., 1826, 7934, 5969]])

In [111]:
edge_weight = torch.tensor(edges.weight.values, dtype=torch.float)

In [112]:
features = pd.concat([emb_vis, emb_rna])

In [113]:
features = features.sort_index()

In [114]:
x = torch.tensor(features.values , dtype=torch.float)

In [115]:
edges[edges.type == "vis2grid"]

        Unnamed: 0  node1  node2  weight      type clone cell_type
49430        49920    540   2773     1.0  vis2grid   NaN       NaN
49431        49921    540   6008     1.0  vis2grid   NaN       NaN
49432        49922    540   4397     0.5  vis2grid   NaN       NaN
49433        49923    540   5610     0.5  vis2grid   NaN       NaN
49434        49924    540     53     0.5  vis2grid   NaN       NaN
...            ...    ...    ...     ...       ...   ...       ...
107691      108181   4469   4650     0.5  vis2grid   NaN       NaN
107692      108182   4469   8937     0.5  vis2grid   NaN       NaN
107693      108183   4469   1826     0.5  vis2grid   NaN       NaN
107694      108184   4469   7934     0.5  vis2grid   NaN       NaN
107695      108185   4469   5969     0.5  vis2grid   NaN       NaN

[58266 rows x 7 columns]

In [116]:
edges.clone = edges.clone.fillna("missing")

In [117]:
edges[edges.clone == "missing"]

        Unnamed: 0  node1  node2  weight      type    clone cell_type
49430        49920    540   2773     1.0  vis2grid  missing       NaN
49431        49921    540   6008     1.0  vis2grid  missing       NaN
49432        49922    540   4397     0.5  vis2grid  missing       NaN
49433        49923    540   5610     0.5  vis2grid  missing       NaN
49434        49924    540     53     0.5  vis2grid  missing       NaN
...            ...    ...    ...     ...       ...      ...       ...
107691      108181   4469   4650     0.5  vis2grid  missing       NaN
107692      108182   4469   8937     0.5  vis2grid  missing       NaN
107693      108183   4469   1826     0.5  vis2grid  missing       NaN
107694      108184   4469   7934     0.5  vis2grid  missing       NaN
107695      108185   4469   5969     0.5  vis2grid  missing       NaN

[58266 rows x 7 columns]

In [118]:
nodes_atr = edges[["node1","type","cell_type", "clone"]].drop_duplicates()

In [119]:
nodes_atr = nodes_atr.sort_values(by = "node1")

In [120]:
nodes_atr.clone.unique()

array(['diploid', '0', 'missing', '8', '10', '1', '9', '12', '11', '5',
       '7', '13', '4', '2', '6', '16', '14', '15', '3'], dtype=object)

In [121]:
nodes_atr.cell_type = nodes_atr.cell_type.fillna("missing")

In [122]:
nodes_atr

        node1      type              cell_type    clone
17976       0    sc2vis                 DCIS 2  diploid
1832        1    sc2vis  Prolif Invasive Tumor        0
105699      2  vis2grid                missing  missing
59678       3  vis2grid                missing  missing
4122        4    sc2vis                Stromal  diploid
...       ...       ...                    ...      ...
31732    9435    sc2vis                 DCIS 2        5
3068     9436    sc2vis                 DCIS 1       14
954      9437    sc2vis                 DCIS 2        8
96899    9438  vis2grid                missing  missing
20222    9439    sc2vis                Stromal  diploid

[9440 rows x 4 columns]

In [123]:
from collections import Counter

Counter(nodes_atr.cell_type)

Counter({'DCIS 2': 653,
         'Prolif Invasive Tumor': 289,
         'missing': 4992,
         'Stromal': 1149,
         'DCIS 1': 441,
         'Macrophages 1': 176,
         'Invasive Tumor': 390,
         'T Cell & Tumor Hybrid': 99,
         'Myoepi KRT15+': 171,
         'Myoepi ACTA2+': 376,
         'Stromal & T Cell Hybrid': 91,
         'unknown': 197,
         'CD8+ T Cells': 30,
         'Endothelial': 198,
         'Perivascular-Like': 52,
         'B Cells': 63,
         'IRF7+ DCs': 13,
         'CD4+ T Cells': 41,
         'Mast Cells': 4,
         'Macrophages 2': 13,
         'LAMP3+ DCs': 2})

In [124]:
ct_list = list(nodes_atr.cell_type.unique())
ct_list.remove("missing")

In [125]:
Counter(nodes_atr.clone)

Counter({'diploid': 2309,
         '0': 398,
         'missing': 4992,
         '8': 283,
         '10': 150,
         '1': 193,
         '9': 62,
         '12': 155,
         '11': 95,
         '5': 270,
         '7': 92,
         '13': 71,
         '4': 114,
         '2': 110,
         '6': 78,
         '16': 12,
         '14': 38,
         '15': 11,
         '3': 7})

In [126]:
clone_list = list(nodes_atr.clone.unique())
clone_list.remove("missing")
clone_list.remove("diploid")
clone_dict = {x:int(x) for x in clone_list}
clone_dict["missing"] = -1
clone_dict["diploid"] = len(clone_dict)-1

In [127]:
clone_dict

{'0': 0,
 '8': 8,
 '10': 10,
 '1': 1,
 '9': 9,
 '12': 12,
 '11': 11,
 '5': 5,
 '7': 7,
 '13': 13,
 '4': 4,
 '2': 2,
 '6': 6,
 '16': 16,
 '14': 14,
 '15': 15,
 '3': 3,
 'missing': -1,
 'diploid': 17}

In [128]:
    ct_list = list(nodes_atr.cell_type.unique())
    ct_list.remove("missing")

In [129]:
type_dict = {ct_list[i]:i for i in range(len(ct_list))}

In [130]:
type_dict["missing"] = -1

In [131]:
type_dict

{'DCIS 2': 0,
 'Prolif Invasive Tumor': 1,
 'Stromal': 2,
 'DCIS 1': 3,
 'Macrophages 1': 4,
 'Invasive Tumor': 5,
 'T Cell & Tumor Hybrid': 6,
 'Myoepi KRT15+': 7,
 'Myoepi ACTA2+': 8,
 'Stromal & T Cell Hybrid': 9,
 'unknown': 10,
 'CD8+ T Cells': 11,
 'Endothelial': 12,
 'Perivascular-Like': 13,
 'B Cells': 14,
 'IRF7+ DCs': 15,
 'CD4+ T Cells': 16,
 'Mast Cells': 17,
 'Macrophages 2': 18,
 'LAMP3+ DCs': 19,
 'missing': -1}

In [132]:
nodes_atr.clone = nodes_atr.clone.map(clone_dict)

In [133]:
edges.cell_type = edges.cell_type.fillna("missing")

In [134]:
nodes_atr.cell_type = nodes_atr.cell_type.map(type_dict)

In [135]:
nodes_atr = nodes_atr.set_index("node1")

In [136]:
nodes_atr.head()

           type  cell_type  clone
node1
0        sc2vis          0     17
1        sc2vis          1      0
2      vis2grid         -1     -1
3      vis2grid         -1     -1
4        sc2vis          2     17

In [137]:
features = features.join(nodes_atr)

In [138]:
features.clone = features.clone.fillna(-1)

In [139]:
features.cell_type = features.cell_type.fillna(-1)

In [140]:
features

             0         1      type  cell_type  clone
0    -1.450992  0.556841    sc2vis          0     17
1     0.727731 -0.089595    sc2vis          1      0
2     0.552704 -0.017306  vis2grid         -1     -1
3     0.650890  0.022090  vis2grid         -1     -1
4    -0.123433  0.363432    sc2vis          2     17
...        ...       ...       ...        ...    ...
9435 -1.727460  0.685548    sc2vis          0      5
9436  1.256450  0.811941    sc2vis          3     14
9437 -1.382968  0.929188    sc2vis          0      8
9438 -0.432557  2.034255  vis2grid         -1     -1
9439 -0.332487  1.421290    sc2vis          2     17

[9440 rows x 5 columns]

In [141]:
y_clone = torch.tensor(features.clone.values,dtype=torch.long)

In [142]:
y_type = torch.tensor(features.cell_type.values,dtype=torch.long)

In [143]:
y_type.unique()

tensor([-1,  0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
        17, 18, 19])

In [144]:
y_clone.unique()

tensor([-1,  0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
        17])

In [145]:
data = Data(x=x, edge_index=edge_index, y_clone = y_clone,y_type = y_type, 
edge_type = edges.type.values, edge_attr = edge_weight)

In [146]:
data.validate(raise_on_error=True)

True

In [147]:
full_dict = {}
full_dict["nodes"] = node_encoder
full_dict["clones"] = clone_dict
full_dict["types"] = type_dict

In [148]:
    import pickle   

    torch.save(data, "../data/processed/data.pt")
    with open('../data/processed/full_encoding.pkl', 'wb') as fp:
        pickle.dump(full_dict, fp)

In [149]:
clone_dict

{'0': 0,
 '8': 8,
 '10': 10,
 '1': 1,
 '9': 9,
 '12': 12,
 '11': 11,
 '5': 5,
 '7': 7,
 '13': 13,
 '4': 4,
 '2': 2,
 '6': 6,
 '16': 16,
 '14': 14,
 '15': 15,
 '3': 3,
 'missing': -1,
 'diploid': 17}

In [150]:
type_dict

{'DCIS 2': 0,
 'Prolif Invasive Tumor': 1,
 'Stromal': 2,
 'DCIS 1': 3,
 'Macrophages 1': 4,
 'Invasive Tumor': 5,
 'T Cell & Tumor Hybrid': 6,
 'Myoepi KRT15+': 7,
 'Myoepi ACTA2+': 8,
 'Stromal & T Cell Hybrid': 9,
 'unknown': 10,
 'CD8+ T Cells': 11,
 'Endothelial': 12,
 'Perivascular-Like': 13,
 'B Cells': 14,
 'IRF7+ DCs': 15,
 'CD4+ T Cells': 16,
 'Mast Cells': 17,
 'Macrophages 2': 18,
 'LAMP3+ DCs': 19,
 'missing': -1}

In [151]:
node_encoder

{'ACCAACTGTGCGGCAA-1': 0,
 'GTTTGAGCAAGGTGTC-1': 1,
 'TGGAAGACGTGAGTAG-1': 2,
 'ATACATCACTGTCCGG-1': 3,
 'GAGCCTGCAATAGAGA-1': 4,
 'TCCCTTTAGGCCTTCG-1': 5,
 'GGATCGCTGGCATATT-1': 6,
 'TGTTAGCGTTGGGTTT-1': 7,
 'CTACCAGACCTCTTAG-1': 8,
 'TTCGTTCTCCTGGATC-1': 9,
 'GAAGCGGCTGATCAGT-1': 10,
 'CCTAACTACGAATATG-1': 11,
 'GGCACAATCGCGTTCG-1': 12,
 'CCTGCTCGCCGTCCAG-1': 13,
 'CCGAGTAATACACGAG-1': 14,
 'TGCTTATGAATAAGCA-1': 15,
 'GCACTCAGTTAGTTTG-1': 16,
 'TTCGGTCAGAAGCATC-1': 17,
 'CATAAACCAAAGAACA-1': 18,
 'GAATGTATTGGATCAA-1': 19,
 'TCGTATCCTGATGCAA-1': 20,
 'CATCGGTTCATGGTCC-1': 21,
 'CCGTACGTCCTAATCG-1': 22,
 'CACGATACAATAGCCA-1': 23,
 'GATGCCTAGAGTCTGT-1': 24,
 'CATTTAGGTCCTCCAT-1': 25,
 'AATCCGTGTTGCGGCT-1': 26,
 'ATCCCAATCATGCATT-1': 27,
 'ATATGCAAGCATCTAT-1': 28,
 'CCCACCTTCACTTGAT-1': 29,
 'GTTTATCAGCATTTCG-1': 30,
 'GCTGTCGCGATGGTAG-1': 31,
 'CGTGCTTAGCGAGGGA-1': 32,
 'TCACATAAGCGTTGCC-1': 33,
 'CCGCTCTGGATATCGG-1': 34,
 'TTATTGGGTTTATGGC-1': 35,
 'GTTAAGGGTTCACCTC-1': 36,
 'TCAGGTTGTAGTAGCA-1': 37,
 'CTGCGGCATGTAAGTA-1': 38,
 'TCTGTAAGTTGAGGAC-1': 39,
 'TAGTGGCCACCGGCAA-1': 40,
 'GTATGTAGGCTTAAGA-1': 41,
 'CGTAAAGGTTAGCATC-1': 42,
 'GATTCCTGCAGATCGT-1': 43,
 'GAGTATGGTACTTAGC-1': 44,
 'TCAAGGTCTGAATATG-1': 45,
 'GACAAGCCTCGTTAGT-1': 46,
 'GACTTGCTCTGGTCTA-1': 47,
 'AAGCCATTATCTGCCA-1': 48,
 'CTAAGTGCATGCGCCT-1': 49,
 'TAACGAGCGTCTGGCC-1': 50,
 'CAACCGTTCGACTTGC-1': 51,
 'CGATTACGTACACCCA-1': 52,
 'GTAGACCAACTCCAAT-1': 53,
 'CAGGTCAAGTTTCAGT-1': 54,
 'AGGCGAGAGGTATGGT-1': 55,
 'TATTGAATCCGACTAA-1': 56,
 'TGTCACTAGCTCAGAC-1': 57,
 'ATGAAGCTGAATCCAG-1': 58,
 'GGAGTCCAGATAGCTT-1': 59,
 'TCAGTTCTCCGGACCG-1': 60,
 'ATGCATGTCGATGTGG-1': 61,
 'TATATCCAGTTATCCG-1': 62,
 'GGAAGCCTCAGTAAGC-1': 63,
 'AGGATTCTACGCCTAG-1': 64,
 'TCATTGATAGACTTGC-1': 65,
 'TGGTTTAGTAGCCACC-1': 66,
 'ACATTGGTTCACAGTG-1': 67,
 'GGTCCTGCGAGTAGGT-1': 68,
 'CTCAAGCTCCAATACT-1': 69,
 'AACATTGAGTTGCGCT-1': 70,
 'ATCCATCCACACTAAG-1': 71,
 'ATTTCGAGTACCTCAG-1': 72,
 'GTAGCATCGAAGGTCT-1': 73,
 'AGTGCGGGTACTTATG-1': 74,
 'GCAGGCTACCGTCCTT-1': 75,
 'AGGACGTCGGCACGAA-1': 76,
 'CTTGGTGCAGCCTCCA-1': 77,
 'TCAACCATCGGCTAAG-1': 78,
 'AGGGCTTCATGGATTG-1': 79,
 'AGACCTATCCTTATAG-1': 80,
 'CAATCGTCGGAGCATG-1': 81,
 'GGTAGCTTAGCCAATC-1': 82,
 'TCCAACAGATGCGGCA-1': 83,
 'TTTGCGCAGCATCTAT-1': 84,
 'CTTCCACGATCCTGTA-1': 85,
 'TGCAGATGAGATCTAG-1': 86,
 'AGCGTTTGTGATTACC-1': 87,
 'TCGGACCAACCATACA-1': 88,
 'GCTCACCCACCTGGTC-1': 89,
 'ACCCTGGTCGATTATC-1': 90,
 'ACTGAGACCTTAGCAC-1': 91,
 'TAGACCAGGATATCGG-1': 92,
 'GAATCACAGTAATGGC-1': 93,
 'ACCAACTGTGTGGCTC-1': 94,
 'CTTAGTCCACTCAAAG-1': 95,
 'CGGATTGCGTCTACCT-1': 96,
 'TCGATCGTTGTCTGAA-1': 97,
 'TGGTATTAGCTAGACC-1': 98,
 'CGCACAAAGGTGAGGG-1': 99,
 'CTGATATTAGTAATCG-1': 100,
 'TGGCCTGACATACTCA-1': 101,
 'GGATGTAACTAATCCG-1': 102,
 'ATGTGAGGTCCGTGAC-1': 103,
 'GACTTGCTCTTACTCC-1': 104,
 'ACCTCCGATTATAAGA-1': 105,
 'GTACGAAGATTATCCG-1': 106,
 'ACATGGATGCGTAAGC-1': 107,
 'CGACAAGCACTCAGCC-1': 108,
 'TAATCGACATTGTTGG-1': 109,
 'TACGTTACTGGTAGCG-1': 110,
 'CCGCGTTGCTACAACT-1': 111,
 'ATGGAGGTTCACCGGT-1': 112,
 'CCATTCCGGTTCTTCC-1': 113,
 'GTTGTAAAGACTGAGT-1': 114,
 'GTCAGTGAGATTCCCA-1': 115,
 'TGACGGAGTGAGGTTA-1': 116,
 'TGTTTCGAGCATTACT-1': 117,
 'TGTTGACGTCAAGCTT-1': 118,
 'ACCGCCTCAGCACGTG-1': 119,
 'CATTTCTGTTTCCTCA-1': 120,
 'GGATAAGTCAGGATAG-1': 121,
 'GTTTAGTTCATAACCT-1': 122,
 'TGGCCGTCTATCAGGA-1': 123,
 'ATACTGTTCTAACCAT-1': 124,
 'GGTCCGTGTGTTCCAG-1': 125,
 'CACAAGCCAACCCTAT-1': 126,
 'CGATAGCCAATCGTTC-1': 127,
 'GATAGGTTCTGCAACC-1': 128,
 'CATTAAGTAGCTTACC-1': 129,
 'GTTCGTTCATTGCGCC-1': 130,
 'ATTAGTGCTTGGTCAT-1': 131,
 'ACTTGCATCGAGGCGT-1': 132,
 'TGGACCAAGACGCATG-1': 133,
 'GTCCCTCTCCAAATTC-1': 134,
 'GGTCATTGTTCTTACT-1': 135,
 'ATAGCGGCGAGTAATT-1': 136,
 'AGCTTCCAGAGCAAGA-1': 137,
 'GCATTACGTAACTACC-1': 138,
 'CGATGATCAGCTATAA-1': 139,
 'TTCCAAAGTTGGAGCG-1': 140,
 'GTTGAGCTTCGTCCGG-1': 141,
 'TCCAGATCGGTCGAGT-1': 142,
 'AGCTGTACGCTGACTC-1': 143,
 'CTCATAAGTCATTATG-1': 144,
 'GTGGCGACCTAATATT-1': 145,
 'CTCGACTAGGTATGGT-1': 146,
 'GGCACAATCCTTTAGG-1': 147,
 'CCTATGGGTATTTACG-1': 148,
 'TAGTTTGGTGGTGCAG-1': 149,
 'GCGATGCCTCTAAGTC-1': 150,
 'AAGTACCAGGGCCTTT-1': 151,
 'ATTCACCCATGCCTCA-1': 152,
 'AACTCACCGAACTTAT-1': 153,
 'AATCGACTATCGCTAG-1': 154,
 'CACTCAAGACGGACTA-1': 155,
 'CTGGAATTCGGCGAAC-1': 156,
 'CGCTATGGTTGGTTAA-1': 157,
 'CTCGCTAGCACCATCT-1': 158,
 'TAGTGAGGTGACCTTG-1': 159,
 'CGGTGAACTCACATTG-1': 160,
 'TACTAGTTCCAAATTC-1': 161,
 'GCTAACCTCACCTGTA-1': 162,
 'GGTCATTGTCAATCGT-1': 163,
 'TGACCAAGTAAGGACC-1': 164,
 'GCTCGCTCAAATGACT-1': 165,
 'TATAACGAGTCGCATC-1': 166,
 'AGAAGCAAGACCATTT-1': 167,
 'CATGCAGGTAGTTGTA-1': 168,
 'TAGGTTAAGTCGAAAC-1': 169,
 'ACATCTACCTGTTCTA-1': 170,
 'TCCGCCTTGTTCTGAT-1': 171,
 'ACGTTAATACAATGAC-1': 172,
 'AAGCAGTATCAGAATC-1': 173,
 'GAGGACAGTGATCGGC-1': 174,
 'AGAAGTTAACCAGAGC-1': 175,
 'AGGAGCCTTCGCCTTA-1': 176,
 'AAGTGAACAAAGGGAT-1': 177,
 'AGGGTCCAGCATTACT-1': 178,
 'ATAGCAGGTTTCACCC-1': 179,
 'ATCGCGCGTGCAATAG-1': 180,
 'AGGACTGGATGAAGAC-1': 181,
 'TGGTCATCTAGGTCAT-1': 182,
 'TGACCATCCATCTGCT-1': 183,
 'TAGCGGTCACCAGCTC-1': 184,
 'GGCTGCTCCATAGCTG-1': 185,
 'TGAATAGTCAACCGCT-1': 186,
 'AGTTACTTCGCGGAAC-1': 187,
 'TGGTTAAAGACATAGC-1': 188,
 'AGTAACCGCAGGTCAA-1': 189,
 'GACCACTTACGGACAT-1': 190,
 'CTATAGGCATTGTACC-1': 191,
 'CGCTGCTTCGCATACT-1': 192,
 'ATGCCTATCCCTCATT-1': 193,
 'GAGTATGGTTGAATCC-1': 194,
 'GGACGTACTTCGGACA-1': 195,
 'CACTTGACATTCAGAA-1': 196,
 'CCAAACCTCAGGGCAC-1': 197,
 'ACTACAATGACCGTAA-1': 198,
 'CGAGCGAGTGCCCGAT-1': 199,
 'ATGTAGGTAACCGTAC-1': 200,
 'GCCTCCGTCTACCTCG-1': 201,
 'AATTGGCTTGAGTTGC-1': 202,
 'CACTCATCACGTTACG-1': 203,
 'AGTGGATTCAGGTTAA-1': 204,
 'TCTACTATGCTAGCTC-1': 205,
 'CTGCCTGACACGGATT-1': 206,
 'TTTCACCTCCTGCAAC-1': 207,
 'TAGAAACGTCATTTAG-1': 208,
 'CCATCACAGCGCGAAC-1': 209,
 'GTTAGGTACTAACTGG-1': 210,
 'TAGGATGCACCGTTCA-1': 211,
 'TCCTGGTAGTTTGGTT-1': 212,
 'CTGCAACTCTACTACG-1': 213,
 'GCACGGAAGGATAGTA-1': 214,
 'GCAAGAGTCGGTGGAC-1': 215,
 'GATTAACCATCGATAG-1': 216,
 'TGGTTTAGTCCGGTAC-1': 217,
 'AGCCTTCAGCAGGTTG-1': 218,
 'TATTGAATTAAGCGTT-1': 219,
 'TCCGAATACTCGCTGG-1': 220,
 'CCGACAAGTATTCATC-1': 221,
 'AGGCGCTAGCTGGGTA-1': 222,
 'ATTCAAGATTAGTTGC-1': 223,
 'GCGGTCCGCTGTCTCA-1': 224,
 'CCTCGATAGCCAAACG-1': 225,
 'TCAGTCTGAGTGCTTG-1': 226,
 'ATTCCGCTCCATCAGC-1': 227,
 'AAGATTCTGGTCGCGA-1': 228,
 'GTCTGCTCAACACCAA-1': 229,
 'GCACACCGTAGCTTTA-1': 230,
 'GCTAACCTCTATTGAC-1': 231,
 'GTCAACTGTTTGCTCC-1': 232,
 'TAGATGAGGACGCTTA-1': 233,
 'ATTAAGAACAGCTCCG-1': 234,
 'TGGTGCCTGTGGTTAC-1': 235,
 'GAGCGATACTCCAGGC-1': 236,
 'ACACCTATCCGCTATA-1': 237,
 'ACCCAACTCACGGACA-1': 238,
 'TGCTTAAGTTTGTCAA-1': 239,
 'ATGTCAAAGTTACTCG-1': 240,
 'GGTTAGTAGGTAATTG-1': 241,
 'ATAGCGAGTAATGGTG-1': 242,
 'CCTACCTGTTCGGTCA-1': 243,
 'CGGTCCATTACAACTA-1': 244,
 'CTATGCAACAGAGTCG-1': 245,
 'TAACGAATCATTGAAG-1': 246,
 'TTGTGATTCATGGATA-1': 247,
 'GATGGCTCAGAATGAA-1': 248,
 'CCTGATTCAGTTGCCC-1': 249,
 'TGTTGGAAGCTCGGTA-1': 250,
 'TGCAGACGAACCAGAT-1': 251,
 'AATCGCACAAACACGC-1': 252,
 'ACTAGTCGTATTGTCA-1': 253,
 'TGCGCTAGTTTCTAAG-1': 254,
 'TGACCTCCTTCAGATT-1': 255,
 'GTACTTAGTTGCGAAT-1': 256,
 'ACGCGGCTCAAGTTCA-1': 257,
 'AAGGTTGGTCGGTTAT-1': 258,
 'GACTGAGTCACGTTAT-1': 259,
 'GGCGTCGCCGTATGAT-1': 260,
 'TACCTCAGGCAACAGA-1': 261,
 'CTTCGCCGCAACATTA-1': 262,
 'CACAAGCCACAATAGT-1': 263,
 'ACTTCGTCACCTTCAG-1': 264,
 'CTGAAGGTGCTCGAGG-1': 265,
 'GATATGATCAGTAGCG-1': 266,
 'GCTTACCTATTAATAC-1': 267,
 'GTCTTGACAATAGCAA-1': 268,
 'GGAACCATCACTATGT-1': 269,
 'GTAAACCAGAGCAACT-1': 270,
 'TCACCATAGATTGTTA-1': 271,
 'ATAGCTTCACAACCGT-1': 272,
 'AGTAGACAGTAAGGAG-1': 273,
 'GCTTGGCACTCCGTCT-1': 274,
 'GTTCCAGTGCCTTACC-1': 275,
 'GGCTATTGTTGTCATA-1': 276,
 'GTGAGTTAGGCGCATA-1': 277,
 'CAGGTTCCACTAATCC-1': 278,
 'CGAGGATTCGATCATA-1': 279,
 'CTTAGTAAGCGTGGCA-1': 280,
 'AAGGTGGATATGATCG-1': 281,
 'TACCGGCGTTAACGAG-1': 282,
 'TGGTGTGAGTTATCCG-1': 283,
 'ATTGTTAAGTAGACTA-1': 284,
 'CATCCTAGTGGTATGT-1': 285,
 'GGTCTGGTTGTAGAAC-1': 286,
 'CACTTGATCAGCATGG-1': 287,
 'CCGCAAGGTACCGTTG-1': 288,
 'TGCATTAGTGGCTTTG-1': 289,
 'AGACGCGTGATGCATC-1': 290,
 'TCAACAGGACAGCAAC-1': 291,
 'CTATGCACCAATCCAG-1': 292,
 'AGATACAAGGATGGTG-1': 293,
 'TGGACTTCGCGGAACT-1': 294,
 'GCTGTTCAACCGAATA-1': 295,
 'TGCAACAGTGAAGCTC-1': 296,
 'ATTGATAACACTAAGA-1': 297,
 'ACATCGGCTTACAAGG-1': 298,
 'TCCAGCTAGATGAACC-1': 299,
 'CTACGCTTAGAAGTGC-1': 300,
 'ACGTATTTCCTGGTTA-1': 301,
 'GCTTACGCAATACTAG-1': 302,
 'GCTCCATAGGCTCCAT-1': 303,
 'GCTTGAGCTCTTGACA-1': 304,
 'ATAAGACCAATCGCGG-1': 305,
 'TAGTTGAAGGCCATTC-1': 306,
 'ATTGCCTTGTCTAAGT-1': 307,
 'ATTTCCTGTCAGGATA-1': 308,
 'CCATTAAGTTCGAATC-1': 309,
 'ATTCTGAGTACTGTAG-1': 310,
 'GGCATAATCCTTCATG-1': 311,
 'CTTTGGATCAGGTTAA-1': 312,
 'GACTAGTAATCTTGCT-1': 313,
 'AGTCAATCAGGTATAT-1': 314,
 'TATTAGGAGCCATTTG-1': 315,
 'TGAGATGCTCTAATGA-1': 316,
 'ATAACCCGTGCGTACC-1': 317,
 'AAGTCTTAAGTTGCCA-1': 318,
 'GAGTTAGCAGTAGATG-1': 319,
 'AGGTCGAGGTCTAGGC-1': 320,
 'CAAAGCTAGCTAAATG-1': 321,
 'GATGCCCGTATAGCGA-1': 322,
 'AGGCTTTGTCCACAAT-1': 323,
 'ACCGTGTTATAAGTCG-1': 324,
 'GTTCGTTCATAGGGTC-1': 325,
 'CCTTAGATGTGCTACG-1': 326,
 'AATGGTTATTCTAGCT-1': 327,
 'CAGTTGCGACTTCTCG-1': 328,
 'AGCCGTATTCAACCGT-1': 329,
 'GGAGCGGCACCTCGTA-1': 330,
 'GAATCAGGTTGTTGGT-1': 331,
 'ACGCCTAGTTAAGCTC-1': 332,
 'GTAGAAGGACATCATA-1': 333,
 'CCGTCAAGTTAATCCA-1': 334,
 'TCGTATGTCGTGCCTA-1': 335,
 'GTGAAGCCACAACCGG-1': 336,
 'ATGTTTGGTTTGCTCC-1': 337,
 'GTGGTAGGTCTAAGAA-1': 338,
 'GGTAGTTAGCTCGACT-1': 339,
 'TACCTGCAGCTAAATG-1': 340,
 'GTTAATACATAATGCT-1': 341,
 'TGCGTCCTAAGTTCCA-1': 342,
 'GATTCCGCTGCAAGAT-1': 343,
 'GCCTTAATTGACGGAT-1': 344,
 'GGTTACCTCTCACCTT-1': 345,
 'GCAACAGCGTGGATCA-1': 346,
 'ATAGATGCCTAAGCAC-1': 347,
 'ATCGCATCACGCATCT-1': 348,
 'GAAGCACGTCCTTCGT-1': 349,
 'AGAAGGTCAAGTTGGC-1': 350,
 'AAGATGGCCGCTAGTT-1': 351,
 'CTACCTAAGTCAATGA-1': 352,
 'GACCAATAGTCAATAG-1': 353,
 'TCTTACGAATCAGTGC-1': 354,
 'AATATGGTCCAAAGAC-1': 355,
 'CTTGGTTAGAGTCATC-1': 356,
 'ACTCCACGTTCGCTAC-1': 357,
 'GACTGAGGTGATTAAC-1': 358,
 'GCCATTTCATTCATGC-1': 359,
 'TACGTGATGGTAGGAT-1': 360,
 'AGGATTCCTTGCTGCG-1': 361,
 'CATCCTGCAACGACTA-1': 362,
 'GGCTGTGCAAAGCTCA-1': 363,
 'CAACCGTTAACAGACC-1': 364,
 'GCTTATCCGCATTCTT-1': 365,
 'AATTCTAACATCGTGC-1': 366,
 'ACAAGTATCGTCCATA-1': 367,
 'GGTGAAGCATGGCCGA-1': 368,
 'GGAGGTACATATTTCG-1': 369,
 'CTGTCAGGCTTCCTAA-1': 370,
 'TTGCGGGCAAGTGGCT-1': 371,
 'GCGGTAATCTGTGACC-1': 372,
 'TGGTGCATTGTAATCC-1': 373,
 'CGGTCCGGTTCTTAGC-1': 374,
 'GTATAAGGCGTCTTCA-1': 375,
 'AGGCTTGAGGCAGGCT-1': 376,
 'TAACCGTACTTCTAAC-1': 377,
 'ACGGATAGTTCACCTC-1': 378,
 'ACTCCTATGTTCCTAC-1': 379,
 'GAGTTACAGTTGGATA-1': 380,
 'TGCTATTGGTAAGTTC-1': 381,
 'GCAATTAATCAACGTA-1': 382,
 'TGGCCACTCCTGAGTG-1': 383,
 'GATAGATATGGTTCCG-1': 384,
 'TGAATTATGCCGCAGT-1': 385,
 'CAAAGGGCAATAGAAG-1': 386,
 'TCGATCGTGAGGCGCC-1': 387,
 'CAGGATTAGACAACTA-1': 388,
 'ATAACCAAGCCCTTGG-1': 389,
 'AGGAGGTAGGGTTGGC-1': 390,
 'TACGGATCTTGCGATG-1': 391,
 'CACGATCTTCGCCGAC-1': 392,
 'ATGGTGAGTAATTTCG-1': 393,
 'GGTGCATGATACGGAT-1': 394,
 'GATGTAGGAGTTGGCC-1': 395,
 'ATGGATCAGGATGTTA-1': 396,
 'AATTGAATTCACTAGA-1': 397,
 'CTCAGGGCATTGCGCC-1': 398,
 'AACTAGCCTTGCAATA-1': 399,
 'GGCTTATGTAGCGCGA-1': 400,
 'CCTTATGAGGCGTTCC-1': 401,
 'TGCGATACATTGCCCA-1': 402,
 'AACCTGCTCTTGAAAG-1': 403,
 'GCACATCGTCTGCGGA-1': 404,
 'CATCCGGTACCAACGA-1': 405,
 'CTCACCGCCTGTGAGT-1': 406,
 'GGAGTCATCCGCAACT-1': 407,
 'ATGTGAGGTATTCAGC-1': 408,
 'ACGGAACGTAAACTGG-1': 409,
 'GCTCACTAGATGATTG-1': 410,
 'TAGCGCGCAATAGAAG-1': 411,
 'TAGACAGGAGATCATT-1': 412,
 'TGTTCATAGTATGACG-1': 413,
 'ATTTGCCCACTATCAC-1': 414,
 'CAGACGAATGAGGAAC-1': 415,
 'GTTAAGGGTATTCAGC-1': 416,
 'AAGCCTTGTAATGTCC-1': 417,
 'GTTGCTAGTCCATACC-1': 418,
 'TGGTCAACAACAGCTA-1': 419,
 'ATAAGGTGTGCATTAC-1': 420,
 'CTTCTACTCAAGTCGT-1': 421,
 'TACATTGACTGAGTCC-1': 422,
 'AGCCATTGTGCGGAAT-1': 423,
 'ATGGAGTCTTCGCAGT-1': 424,
 'AGGTGATTGGCGGTAT-1': 425,
 'GTCAGGACAAGCCATG-1': 426,
 'AGCGTTTGTTTCCTGC-1': 427,
 'ATTAGTTCACAGACTC-1': 428,
 'GTTAACAACTTCGGAT-1': 429,
 'ACAGCGGGTTTGCATA-1': 430,
 'CATAATGAGTCAATGA-1': 431,
 'CTTAGTAGTTGTGAGA-1': 432,
 'CCGCTCTGCTGAATTC-1': 433,
 'GATGGCTCACTTCGAT-1': 434,
 'AGCCTACGGTGACCAA-1': 435,
 'GTAGAAGTAAGCTGCG-1': 436,
 'GTTCCAGGTTAGCTCG-1': 437,
 'TTCGTTCTCCTAAGTT-1': 438,
 'GTCAACAGCGCACCGA-1': 439,
 'GCTAGACCAAACAATC-1': 440,
 'TTCAACTAGCGAAGTT-1': 441,
 'GCGATGTACTGCTATT-1': 442,
 'GTAACCACACGGTTCC-1': 443,
 'TAGGCTTGTTGAGCTT-1': 444,
 'GTGGTAAGCCTCTTCG-1': 445,
 'TCGGAATCAGCCTAAC-1': 446,
 'GCATACTAGCATCGAA-1': 447,
 'TCTTGTTACCGGTTAC-1': 448,
 'GGCAAGCTCTATTGGT-1': 449,
 'GGTAGGTTGTTCTAAG-1': 450,
 'CGTAATCGTATTTACG-1': 451,
 'TCGGAGTTGTCTTGTT-1': 452,
 'AGCTTCCAGCTTAAAG-1': 453,
 'TAAATCGAGAGGAGGT-1': 454,
 'TAACGTTTCAACTTGT-1': 455,
 'TTGGTTAGTCGAATCT-1': 456,
 'CGACTGAACGAATGCT-1': 457,
 'AGCTGTTCCGGTGATT-1': 458,
 'GGTACGTGCCTTATCC-1': 459,
 'GCTATGCTCGGGCAGT-1': 460,
 'AGGCAACAGCGTTCGC-1': 461,
 'CGAGGAGCATGCTATG-1': 462,
 'ATCGCAGTCTATGGCA-1': 463,
 'CGTACATCACTGGATG-1': 464,
 'GACGTACAGGAACGCT-1': 465,
 'CGCCTAGAGCGTGGAG-1': 466,
 'CAGAGGCGAATTGCCA-1': 467,
 'CGAGCTATGTCCTCGC-1': 468,
 'TAGTTACTCATGCGGA-1': 469,
 'CACCGAGTCTTGGACA-1': 470,
 'CTATGTGCGGTTGACT-1': 471,
 'GCATTTGTCATAATCC-1': 472,
 'TAGTGCACTTGTACCG-1': 473,
 'TCTATCCGTGTTGCCA-1': 474,
 'CTTAGTGGTACACGAC-1': 475,
 'CCGTACGTCAACCTCA-1': 476,
 'AACATCTAATGACCGG-1': 477,
 'TCACGTCTAAGACTAG-1': 478,
 'TCAACTAGTAGTAGGC-1': 479,
 'TGGTGCGCAGATAACT-1': 480,
 'GTACCTGTCTTACTGT-1': 481,
 'GAATGAGTATAGACCA-1': 482,
 'GTTTGTAGTACAAAGT-1': 483,
 'ATAGTTCGGTTCCAGA-1': 484,
 'AGCAATAACAATTCCA-1': 485,
 'CGATAGCCAAACTTGG-1': 486,
 'GCTATAAAGGACAACT-1': 487,
 'TCAAGGTAGGTCAATA-1': 488,
 'CGTAACATTGGCTGAG-1': 489,
 'CGGAGCGGTAAGACGC-1': 490,
 'AACGTTAAGGCCATTC-1': 491,
 'CTCGATGTTGCTATGT-1': 492,
 'CGGACTGTGAGTATAG-1': 493,
 'AATAACTCTAATACAG-1': 494,
 'CTTAGCTCAAGATGCC-1': 495,
 'GGTGAAGCATTTAGCC-1': 496,
 'CGACACAAGGTCAAGT-1': 497,
 'ATGTTGCGTGCTCATG-1': 498,
 'ACGATTCGTGACACAA-1': 499,
 'GTAGTCCTCGGTCAAG-1': 500,
 'ATTACCTTCGCAGAAG-1': 501,
 'TAGTGACTCGCTCCGC-1': 502,
 'AAGCCAGGTTACGAAC-1': 503,
 'CTTACTGAGCAATCCC-1': 504,
 'AACCATAGAATTCGAA-1': 505,
 'GGGCAATGTCCCTCAT-1': 506,
 'AGCGGTGAGTGACATG-1': 507,
 'GGCATACTATTGCACT-1': 508,
 'TCGGAGCGTTACCTCG-1': 509,
 'ATGCTGCCGGCATACT-1': 510,
 'ACCAAGTGATGGTGAG-1': 511,
 'CGAGTCCGTTGGAACT-1': 512,
 'AGTGAGAAGGTAGTTA-1': 513,
 'GTAAAGCTCGGTACCT-1': 514,
 'ATTAGCATTCCGATCG-1': 515,
 'ACTCCTGCGGCAACCA-1': 516,
 'GCACTCAGTGTGTCGC-1': 517,
 'AGTAGAGTGCCGAATG-1': 518,
 'GAGACCCAGTGAGGAA-1': 519,
 'ACTACGCCTCATGATT-1': 520,
 'TGGCATGTTCGAACAG-1': 521,
 'TCAAGCGAGATTCATC-1': 522,
 'GGCCATGCTCCTCGTG-1': 523,
 'TCGTATAGGAGCCTAT-1': 524,
 'CTTGGAGGCCACCTGC-1': 525,
 'TGCATGACAGGCAACT-1': 526,
 'AGGGTGGAGTTACCTG-1': 527,
 'TCGCATTCAACTTCGT-1': 528,
 'AATGCGCCATTAGCGA-1': 529,
 'AAACAAGCACATTGTC-1': 530,
 'CTTAGCTCATTACACC-1': 531,
 'TCAACATTCCTCTAAG-1': 532,
 'CATCGCGGTCGGTGCG-1': 533,
 'GTTATCCTATACTGGC-1': 534,
 'ACAGGTAGTCCTCACT-1': 535,
 'TCTACATGAATCTGAT-1': 536,
 'AGAGAGCAGTCATCAT-1': 537,
 'CATAATGAGAGGATGA-1': 538,
 'GCTAATAAGAAGTACC-1': 539,
 'AACACCTACTATCGAA-1': 540,
 'TCAACACCAATCATTA-1': 541,
 'CGTGTACGATGATTGT-1': 542,
 'ATCCACGACACGAATG-1': 543,
 'CCTCACACATAGGCGT-1': 544,
 'AAACTGGGTAGCCCGT-1': 545,
 'GCGGGTTAGTATCGCC-1': 546,
 'AACTGCGATCGACTAA-1': 547,
 'ATGCTGGCTTACTACA-1': 548,
 'GTTCGTTCAACAGAGG-1': 549,
 'CAGACGATACAGATCG-1': 550,
 'CATATGTTGACTGGCG-1': 551,
 'GCAGCTAAGCTTCTAG-1': 552,
 'GTCGCAGTATTAGGAT-1': 553,
 'TGGAGTCGGCAAGCTC-1': 554,
 'CGGAGCTCACTTGCAT-1': 555,
 'TCAGAATCCTACGGTG-1': 556,
 'AAGCCTCTCAAAGGCT-1': 557,
 'TCAAGTGCACATTGAG-1': 558,
 'ATCCGGATGACGTAAC-1': 559,
 'TGTAATGCCTAACACC-1': 560,
 'CCTACTTTCACAGGGC-1': 561,
 'TAGTGATGACTCCTGG-1': 562,
 'TACAGGTAGCACCTTA-1': 563,
 'GTCTTGCGGCGATTCA-1': 564,
 'GTCTCATGACTAGTTG-1': 565,
 'GGAAGCTATGGCACAG-1': 566,
 'TTGTCAGTCGGTTCCG-1': 567,
 'ACTAGGTAGCTATCGC-1': 568,
 'AATCCAAAGTCAACAA-1': 569,
 'TCGTCCCTCACTATAC-1': 570,
 'AGCAGGTAAGTATCTG-1': 571,
 'ATCCTCCAGCCATTGT-1': 572,
 'GTTAATACGACACGCC-1': 573,
 'GGCGTAATCAGGCATG-1': 574,
 'ATAAAGGCACAACATG-1': 575,
 'TGTCAAGAACTCGGCG-1': 576,
 'GCGAAGTTGGCGTGCA-1': 577,
 'AAGGCATGAACAGCTC-1': 578,
 'GTCTAGGACAGGATAA-1': 579,
 'CTTACGTCATCCTTAT-1': 580,
 'AACCACTGCCATAGCC-1': 581,
 'CGGCACTCTAGCGGAA-1': 582,
 'GCGGTTGCCTCGACGG-1': 583,
 'GTGAGGCAGTGAGTTA-1': 584,
 'AATAACTTCATACGGA-1': 585,
 'TTCGGTCAGTTGCGCT-1': 586,
 'GGTTAGTAGTCTATGT-1': 587,
 'CCGCGACCGTAGCTAT-1': 588,
 'GTGCATTGCAATGTTG-1': 589,
 'CGTGAGCTGTTATCGT-1': 590,
 'ATTCTAACGCCTGTTA-1': 591,
 'ACCCAACTCAACTGGG-1': 592,
 'CCGCTCATACAAGTCA-1': 593,
 'AGCCGTATCTTCGTCT-1': 594,
 'ACTCAGCTTCTGAGAC-1': 595,
 'CAATAAGAACCGACTT-1': 596,
 'GCACAACCAGCTCATT-1': 597,
 'ATTAGCAGGATGTATT-1': 598,
 'CAATGTTTCGTCCATA-1': 599,
 'TAGGTCCGTAGCCTAT-1': 600,
 'TGCCTCCTCAGTAAGC-1': 601,
 'TCGATCGCACCTAATC-1': 602,
 'AGCGGAATGTCGCTGT-1': 603,
 'GTCTATTGCGAGTTAC-1': 604,
 'TGACGCTTACTAGACA-1': 605,
 'GATGACAGTTCCGCAA-1': 606,
 'GAACAGATAACCTTAA-1': 607,
 'GCTAAATCAACGACTA-1': 608,
 'CCAACAGGAACACGGT-1': 609,
 'GAGGTACAACCTTCCG-1': 610,
 'AGGTTCTGTGCGCAAG-1': 611,
 'GCAGTAAGTCCCTCAT-1': 612,
 'CAAACAATCTAATCGT-1': 613,
 'TGTATGATTGTAGGTG-1': 614,
 'CGCATCCCATTGGACA-1': 615,
 'TGTACCTCACCTGGTC-1': 616,
 'TGACGTACATCGATAG-1': 617,
 'TGGAGTGCTCCTGATC-1': 618,
 'TGACCTGGTTAGTAGG-1': 619,
 'TCCTAAGTCTTCGCCC-1': 620,
 'GCACTCAGTATGTTTG-1': 621,
 'CTCATATTACTATGGT-1': 622,
 'GTCTTCGATAGGTGTT-1': 623,
 'GTTTGGTGTTAGGCGG-1': 624,
 'GGTTCACCGACTCACG-1': 625,
 'GCTAACCATAGGCGTT-1': 626,
 'ATCCGGATTACCGGTC-1': 627,
 'CGTGAGGCTCTTGTGC-1': 628,
 'CTTACCTTCGCTTGGT-1': 629,
 'AACTTCGTCGGTAACG-1': 630,
 'CTGATTAACAGCGGCC-1': 631,
 'GAAGGATGGTATACGT-1': 632,
 'AAGCCTGAGGCCATGA-1': 633,
 'TGCCCTGAGCATTACT-1': 634,
 'TCAGTCATTGCAAGTG-1': 635,
 'CCAACTGGTGTGAGTA-1': 636,
 'GTACGCACTCAATTGC-1': 637,
 'ACTGACTCTGCTGGCC-1': 638,
 'TGGTGCCGCTGCAACA-1': 639,
 'AATTGCATTGAAGAAT-1': 640,
 'GCTTAGGAGCACTACC-1': 641,
 'CATCTTGAGGACACGC-1': 642,
 'GGCGGACATATTGATG-1': 643,
 'ATTAAGAATAACGCTT-1': 644,
 'ACTTCGTCAAACACGC-1': 645,
 'ATCGGGCAGGTTATGA-1': 646,
 'ACCGTTATCCAAATTC-1': 647,
 'GGCAAGTGTCAAAGAT-1': 648,
 'TATCCACTTGCGTATC-1': 649,
 'CGGTAGGTACTCTACG-1': 650,
 'CTAAGTCAAGATCATG-1': 651,
 'CGCCTTACGAGTAGCG-1': 652,
 'AGTAGGTTCGGTAATA-1': 653,
 'AGTCCGTGATCACTAC-1': 654,
 'GGACCAGATAGGATGT-1': 655,
 'CCACTAATCCAAAGGT-1': 656,
 'ACGGTCGGACAGGCGA-1': 657,
 'CGGCCTGCGATCGATG-1': 658,
 'GCTTCTGTATCGACGC-1': 659,
 'TCTTACTGTCTGTGAT-1': 660,
 'GTGAAGATGAGTGCCT-1': 661,
 'CAGAATGGTGAACGAC-1': 662,
 'AACATAGTCTCAGCAC-1': 663,
 'CTCGACAGCACTCGGA-1': 664,
 'GGTAATGGTCAATGTC-1': 665,
 'CAGACCAAGTTACATC-1': 666,
 'TATTGAATGAATGTGG-1': 667,
 'CGCCATCCAGGATTAT-1': 668,
 'CGTGTTTCAAAGAACA-1': 669,
 'GAAGCTGTTCTACATC-1': 670,
 'GATATGATCATGATGA-1': 671,
 'TTAGTCAGTAACTAGG-1': 672,
 'GCAAGGCTCGCGGATA-1': 673,
 'AACCGCATGTATGTTA-1': 674,
 'GCTGACTTCCAAAGAC-1': 675,
 'ATAGTGTCAGATGTAG-1': 676,
 'GCATCTATCGTTCAAT-1': 677,
 'TCTGTACCTCACTCGC-1': 678,
 'GTGGCGTAGCTTACTG-1': 679,
 'ATTGGGAGTGATCCTG-1': 680,
 'TTGCGGGCATTTCGCG-1': 681,
 'GTCATCGTATTGGCGA-1': 682,
 'GGCTTAGAGTTACAGA-1': 683,
 'GTTTCACCAACGACTA-1': 684,
 'ACCAATGATCGCGGCC-1': 685,
 'GTACAGGAACGAATGG-1': 686,
 'TGGCCTTAGAGGAGGT-1': 687,
 'GCTTCTGTTACGAGAA-1': 688,
 'AAACAAGCAAGTCGCG-1': 689,
 'TCTTGTTATTCTTGAT-1': 690,
 'GGTTAGTATGAGTGTC-1': 691,
 'TCGTTAAGTACAGCAA-1': 692,
 'GATACGACTGAACAGA-1': 693,
 'TCAAGGAACCTATTGC-1': 694,
 'TGTAATTGTATCCTCG-1': 695,
 'CCATAACGTCGTTATA-1': 696,
 'GGCAGCTCCTGGACGG-1': 697,
 'AGGTTCTGTGCGGCAA-1': 698,
 'CCTCTTCGAGCGGTTG-1': 699,
 'GGAGATCCGTAGGATA-1': 700,
 'GGAACAAAGTTATGGA-1': 701,
 'ACTCGTTCCTGATACA-1': 702,
 'ATGTGCTTGTGCTACC-1': 703,
 'GTTCCGTCATACGGCT-1': 704,
 'TATTGGGCACGGTTCC-1': 705,
 'ACCTAGTGTAACTACC-1': 706,
 'TGACATGCATTTCGAC-1': 707,
 'ACCTAAGTGATAATCA-1': 708,
 'TCCATGCCATTCCAGC-1': 709,
 'CTAGTGTAGTAAGTCA-1': 710,
 'GTAACACCGAGCGTTA-1': 711,
 'ATTCGTTAGAATTCGG-1': 712,
 'TGGCTCACTCAATCAC-1': 713,
 'GAGCCACTTATGCATT-1': 714,
 'AGCTTGTGTTGAGTCT-1': 715,
 'ACCGATTCCGGATACT-1': 716,
 'GGCAATAGTATGGTAG-1': 717,